<mat-toolbar>
    <div style="width: 50%;" > Doctor Panel</div>
    <div class="menu-iems" fxHide.lt-md="true" fxLayout="row wrap">
        <button mat-button (click)="navigate(1)">Home</button>
        <button mat-button (click)="navigate(2)">Prescription</button>
        <button mat-button (click)="navigate(3)">Patient</button>
        <button mat-button (click)="navigate(4)">Bill</button>
        <button mat-button  (click)="navigate(5)">Logout</button>

        <!-- <button mat-raised-button>Check</button> -->
    </div>
    <div class="menu-iems"  fxHide.md="true" fxHide.gt-md="true" fxLayout="row wrap">

        <button mat-button [matMenuTriggerFor]="menu">Menu</button>
    </div>


    <mat-menu #menu="matMenu">
        <!-- <button mat-menu-item routerLink="Login">ReadMe</button> -->
        <button mat-menu-item (click)="navigate(1)">Home</button>
        <button mat-menu-item (click)="navigate(2)">Prescription</button>
        <button mat-menu-item (click)="navigate(3)">Patient</button>
        <button mat-menu-item (click)="navigate(4)">Bill</button>
        <button mat-menu-item (click)="navigate(5)">Logout</button>
        <!-- <button mat-menu-item routerLink="/Login">Log In</button> -->
    </mat-menu>
</mat-toolbar>