<!-- <app-lab-menu></app-lab-menu> -->

<div class="Main-Layout" fxLayout="row">
    <div class="image-section" fxHide.lt-md="true">

    </div>
    <form [formGroup]="PatientsForm" (ngSubmit)="onSubmit()" ngClass.lt-md="width-90" class="width-50">

        <div class="form-class" fxFlex="fxFlex.lt-md?80:50" fxLayoutGap="10">
            <div style="width: 100%;align-content: center;">
                <h1 class="divider-child">LabTest Entry</h1>
            </div>
            <div fxFlex="fxFlex.lt-md?60:30">
                <!-- <mat-form-field class="divider-child">
                    <mat-label>patient</mat-label>
                    <input #input type="text" placeholder="Pick one" matInput formControlname="labtest"
                        [matAutocomplete]="auto" (input)="filter()" (focus)="filter()">
                    <mat-autocomplete requireSelection #auto="matAutocomplete">
                        <mat-option *ngFor="let option of filteredOptions" [value]="option">
                            {{option}}
                        </mat-option>
                    </mat-autocomplete>
                </mat-form-field> -->
                <mat-form-field class="divider-child">
                    <mat-label>Test Name</mat-label>
                    <input #input
                           type="text"
                           placeholder="Pick one"
                           matInput
                           formControlName="patient"
                           [matAutocomplete]="auto"
                           (input)="filter()"
                           (focus)="filter()">
                    <mat-autocomplete requireSelection #auto="matAutocomplete">
                      <mat-option *ngFor="let option of filteredOptions" [value]="option">
                        {{option}}
                      </mat-option>
                    </mat-autocomplete>
                  </mat-form-field>
            </div>
            <!-- First Name  -->
            <div fxFlex="fxFlex.lt-md?60:30">
                <mat-form-field class="divider-child">
                  <mat-label>Test Name</mat-label>
                  <input #input1
                         type="text"
                         placeholder="Pick one"
                         matInput
                         formControlName="labtest"
                         [matAutocomplete]="auto1"
                         (input)="filtermedicine()"
                         (focus)="filtermedicine()">
                  <mat-autocomplete requireSelection #auto1="matAutocomplete">
                    <mat-option *ngFor="let option of filteredMedicine" [value]="option">
                      {{option}}
                    </mat-option>
                  </mat-autocomplete>
                </mat-form-field>
            </div>
            <!-- <div fxFlex="fxFlex.lt-md?60:30">
                <mat-form-field class="divider-child">
                    <mat-label>LabTest Name</mat-label>
                    <input formControlName="labtest" matInput>
                </mat-form-field>
            </div> -->
            <!-- Last Name -->
            <div fxFlex="fxFlex.lt-md?50:30">
                <mat-form-field class="divider-child">
                    <mat-label>Price </mat-label>
                    <input formControlName="price" matInput>
                </mat-form-field>
            </div>
            <!-- Date of Birth -->
            <div fxFlex="fxFlex.lt-md?50:30">
                <mat-form-field class="divider-child">
                    <mat-label>Date of Procedure</mat-label>
                    <input formControlName="dob" matInput [matDatepicker]="picker">
                    <!-- <mat-hint>MM/DD/YYYY</mat-hint> -->
                    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>

            </div>
            <!-- Country  -->
         
            <!-- State -->
          
            <div fxFlex="fxFlex.lt-md?50:30">
                <mat-form-field class="divider-child">
                    <mat-label>Description</mat-label>
                    <textarea matInput formControlName="Description"></textarea>
                </mat-form-field>
            </div>
            <div fxFlex="fxFlex.lt-md?50:30">
                <mat-form-field class="divider-child">
                    <mat-label>Report By</mat-label>
                    <mat-select formControlName="referred">
                        <mat-option name="referred" ngDefaultControl *ngFor="let count of Referral" [value]="count">
                            {{count}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div fxFlex="fxFlex.lt-md?50:30">

                <button mat-raised-button color="warn" class="divider-child" style="margin-top: 10px;">Submit</button>
            </div>
        </div>
    </form>
</div>