app-node-design {
    height: 100vh;
    width: 100%;
}

app-right-left-chart {
    background-color: aqua;
    overflow: scroll;
    height: max-content;
    display: inline-block;
}


// app-hierachy-template{
//     width: fit-content !important;
//     scale: 0.7;
// }