<!-- <app-patient-page></app-patient-page> -->
<!-- <app-appoinment-page></app-appoinment-page> -->
<!-- <app-patients-summary></app-patients-summary> -->
<!-- <app-prescription-data></app-prescription-data> -->
<!-- <app-onboarding></app-onboarding> -->
<!-- <app-homepage></app-homepage> -->

<!-- <app-labtest></app-labtest> -->

<!-- <app-organization-chart></app-organization-chart> -->

<!-- <app-org-chart-dummy></app-org-chart-dummy>  -->

<!-- <app-node-design
  [name]="'Ganesh'"
  [children]="tree.children"
  [Designation]="'Vice Precident'"
  
>
</app-node-design>
-->

<!-- <button (click)="SaveData()">{{session.id}}</button>
<button (click)="loadData()">{{session.id}}</button> -->  
<router-outlet></router-outlet> 

<!-- <app-node  [hierarchyData]="tree1">

</app-node>  -->
<!-- <app-right-left-chart></app-right-left-chart>
<app-hierachy-template></app-hierachy-template> -->
<!-- <app-hierachy-template-node [hierarchyData]="hierarchyData"></app-hierachy-template-node> -->