<div style="width: 100%;height: 200px;background-color: antiquewhite;">
    <form [formGroup]="SearchForm" (ngSubmit)="submit()">
        <mat-form-field>
            <mat-select placeholder="Fields" formControlName="Fields" multiple>
                <mat-option *ngFor="let Fields of FieldsList" [value]="Fields">{{Fields}}</mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field>
            <mat-select placeholder="ViewS" formControlName="Views" >
                <mat-option *ngFor="let View of ViewsList" [value]="View">{{View}}</mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field>
            <mat-select placeholder="Levels" formControlName="Levels" >
                <mat-option *ngFor="let level of LevelsList" [value]="level">{{level}}</mat-option>
            </mat-select>
        </mat-form-field>
        <button mat-button type="submit"> Submit </button>
        <button mat-button type="button" (click)="LoadStructure()"> Load </button>
    </form>
</div>

<div id="tree"></div>
<div id="tree1"></div>