.menu-iems {
    width: 50%;
    display: flex;
    place-content: end end;
}

mat-toolbar{
    background-color: antiquewhite;
    // background-size: cover;
    // background-image: url('../../../assets/Images/Prescription.jpg');
    color:crimson
}