<app-doctor-menu></app-doctor-menu>

<div class="Main-Layout" fxLayout="row">
    <div class="image-section" fxHide.lt-md="true">
  
    </div>
    <form [formGroup]="PrescriptionForm" (ngSubmit)="onSubmit()" ngClass.lt-md="width-90" class="width-50">
  
      <div class="form-class" fxFlex="fxFlex.lt-md?80:50" fxLayoutGap="10">
        <div style="width: 100%;align-content: center;">
          <h1 class="divider-child">Prescription Details</h1>
        </div>
        <div fxFlex="fxFlex.lt-md?60:30">
            <mat-form-field class="divider-child">
              <mat-label>Patient</mat-label>
              <input #input
                     type="text"
                     placeholder="Pick one"
                     matInput
                     formControlName="patient"
                     [matAutocomplete]="auto"
                     (input)="filter()"
                     (focus)="filter()">
              <mat-autocomplete requireSelection #auto="matAutocomplete">
                <mat-option *ngFor="let option of filteredOptions" [value]="option">
                  {{option}}
                </mat-option>
              </mat-autocomplete>
            </mat-form-field>
        </div>
        <div fxFlex="fxFlex.lt-md?60:30">
            <mat-form-field class="divider-child">
              <mat-label>Medicines</mat-label>
              <input #input1
                     type="text"
                     placeholder="Pick one"
                     matInput
                     formControlName="medicines"
                     [matAutocomplete]="auto1"
                     (input)="filtermedicine()"
                     (focus)="filtermedicine()">
              <mat-autocomplete requireSelection #auto1="matAutocomplete">
                <mat-option *ngFor="let option of filteredMedicine" [value]="option">
                  {{option}}
                </mat-option>
              </mat-autocomplete>
            </mat-form-field>
        </div>
        <!-- First Name  -->
        <div fxFlex="fxFlex.lt-md?60:30">
          <mat-form-field class="divider-child">
            <mat-label>No.of.Tablets</mat-label>
            <input type="number" formControlName="tablets" matInput>
          </mat-form-field>
        </div>

        <div fxFlex="fxFlex.lt-md?60:30">
            <mat-form-field class="divider-child">
              <mat-label>No.of.Days</mat-label>
              <input type="number" formControlName="days" matInput>
            </mat-form-field>
          </div>
       
        
        
        <div fxFlex="fxFlex.lt-md?50:30">
  
          <button mat-raised-button color="warn" class="divider-child" style="margin-top: 10px;">Add Medicine</button>
        </div>
        <div fxFlex="fxFlex.lt-md?50:30">
  
            <button mat-raised-button color="primary" class="divider-child" type="reset" style="margin-top: 10px;" (click)="onSave()">Save </button>
          </div>
        <div fxFlex="100">
            <div class="mat-elevation-z8">
                <table mat-table [dataSource]="dataSource" matSort>
        
                    <!-- Position Column -->
                    <ng-container matColumnDef="patient">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Patient. </th>
                        <td mat-cell *matCellDef="let element"> {{element.patient}} </td>
                    </ng-container>
        
                    <!-- Name Column -->
                    <ng-container matColumnDef="medicines">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header>Medicines </th>
                        <td mat-cell *matCellDef="let element"> {{element.medicines}} </td>
                    </ng-container>
                    <!-- firstName:"Dummy", Column -->
                    <ng-container matColumnDef="tablets">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Tablets </th>
                        <td mat-cell *matCellDef="let element"> {{element.tablets}} </td>
                    </ng-container>
        
                    <!-- Weight Column -->
                    <ng-container matColumnDef="days">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Days </th>
                        <td mat-cell *matCellDef="let element"> {{element.days}} </td>
                    </ng-container>
        
                
        
                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>
        
                <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users"></mat-paginator>
            </div>
        </div>
      </div>
    </form>
  </div>

